* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@100;200;300;400;500;600;800;900&display=swap');

body {
  font-family: 'Orbitron', sans-serif;
}

main {
  padding-top: 70px;
  /* header joyiga joy tashlash */
  padding-bottom: 70px;
}

/* conatiner */
.container {
  width: 100%;
  max-width: 1100px;
  padding: 0px 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* header */
header {
  background-color: #333;
  color: #f0f0f0;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
  padding: 10px 0px;
}

.header-title-wrap-div {
  display: flex;
  align-items: center;
}

.header-logo-img {
  width: 50px;
  border-radius: 50%;
  animation: LogoImg 2s linear backwards;
}

.header-title {
  text-align: center;
  font-size: 24px;
  margin-left: 20px;
  font-family: cursive;
}

.header-navbar-right-wrap-list {
  display: flex;
  align-items: center;
  gap: 10px;
  list-style: none;
}
.enter-sayt {
  padding: 6px 12px;
  background: red;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  border: 1px solid yellow;
  transition: all 0.5s;
}
.enter-sayt:hover{
  background-color: #eb5e3d;
  transform: translateY(4px);
  box-shadow: 0 12px 25px rgba(255, 126, 95, 0.6);
}
/*  DROPDOWN MENU  */
.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.menu li {
  position: relative;
  margin-right: 10px;
}

.menu a {
  text-decoration: none;
  padding: 10px 15px;
  display: block;
  color: #f0f0f0;
  z-index: 100;
  transition: all 1s;
}
.menu a:hover{
  color: yellow;
  text-decoration: underline blue;
}

.submenu {
  position: absolute;
  top: 100%;
  left: 0;
  list-style: none;
  background: white;
  border: 1px solid #ddd;
  padding: 10px 0;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: all 0.3s ease;
  z-index: 10;
}
.dropdown:hover .submenu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.submenu li a {
  padding: 8px 20px;
  display: block;
  color: #333;
}

.submenu li a:hover {
  background-color: #f0f0f0;
}

/* HERO */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90vh;
   background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.hero {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 90vh;
  background-image: url('/img/image.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 2s;
}
.hero:hover{
  filter: brightness(1.2) saturate(180%) contrast(110%) hue-rotate(20deg);
}

.hero-container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1100px;
  padding: 150px 20px;
  margin: 0 auto;
  color: white;
  z-index: 1;
}

.hero-btn {
  padding: 8px 12px;
  border-radius: 8px;
  background-color: red;
  font-size: 16px;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #eb5e3d;
  transform: translateY(4px);
  box-shadow: 0 12px 25px rgba(255, 52, 1, 0.6);
  text-decoration: none;
}

/* main */
main {
  background-color: rgb(236, 236, 245);
}

.main-conatiner {
  width: 100%;
  max-width: 1100px;
  padding: 0px 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sub-section {
  padding-top: 20px;
  padding-bottom: 40px;
}

/* section 1 */
.sub-container {
  width: 100%;
  max-width: 1100px;
  padding: 20px 20px;
  margin: 0 auto;

}

.sub-section-container-wrapper {
  display: flex;
  justify-content:space-around;
  align-items: center;
  background-color: rgba(245, 247, 250, 0.9);
  border: 1px solid rgba(245, 247, 250, 0.9);
  z-index: 1;
  border-radius: 20px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  padding: 80px 20px;
}
/* section2n informataion section */
.information-section{
padding-top: 40px;
padding-bottom: 80px;
}
.information-container{
  width: 100%;
  max-width: 1110px;
  padding:0px 20px;
  margin: 0 auto;
}
.information-title{
  margin-bottom: 20px;
  text-align: center;
  @import url(https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap);
  font-family: 'Londrina Outline', display;
  
}
.information-text{
  line-height: 30px;
  background-color: #ddd;
  padding: 40px;
  border: 1px solid black;
  border-left:  6px solid #eb5e3d ;
  box-shadow: 10px 10px 10px 2px rgba(0, 0, 0, 0.5);
}
/* right-sub-img */
.image-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.image-item img {
  display: block;
  border-radius: 10px;
}

.top-img {
  transform: translateY(-30px);
}

.bottom-img {
  transform: translateY(30px);
}

.image-item img:hover {
  transform: scale(1.02);
  cursor: pointer;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.9);
}

.sub-section-container-wrapper-left-text {
  font-size: 23px;
  color: rgb(101, 101, 222);
  margin-bottom: 20px;
}

.sub-section-container-wrapper-left-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.sub-section-container-wrapper-left-text-red {
  font-size: 19px;
  color: red;
}

.image-item-right-my-img {
  width: 180px;
  height: 200px;
  border-radius: 50%;
  object-fit: fill;
  transition: all 1s;
}




.main-title {
  text-align: center;
  font-size: 40px;
  margin-bottom: 60px;
}

/* carusel-list */
.carusel-wrap {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
  margin-bottom: 60px;
}

.carusel-list {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
  list-style: none;
  font-size: 18px;
}

.carusel-list-item {
  color: rgb(0, 0, 0);
}

.carusel-btn {
  padding: 2px 4px;
  font-size: 20px;
  background-color: red;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.carusel-btn:hover {
  background-color: rgb(255, 0, 0);
  padding: 2px 4px;
  border-radius: 6px;
  color: white;
  transition: all 0.5s;
  cursor: pointer;
}

.carusel-btn:active {
  background-color: rgb(0, 255, 255);
  padding: 2px 4px;
  border-radius: 6px;
  transition: all 0.2s;
  cursor: pointer;
}

.active {
  font-weight: bold;
  opacity: 1;
  transform: scale(1.3);
  color: red;
  text-decoration: overline 5px solid blue;
}

/* main 3 cards */
.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 80px 40px;
  list-style: none;
}

.list-item {
  background-color: rgb(235, 235, 235);
  padding: 16px 16px;
  border-radius: 20px;
  border: 1px solid black;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  transition: all 0.8s ease-out;
  max-width: 350px;
  margin: 0 auto;
}

.list-item-wrap-div {
  width: 100%;
  max-width: 1300px;
  padding: 0px;
  margin: 0 auto;
}

.list-item-img {
  margin-bottom: 20px;
  border-radius: 10px;
  border: 2px solid black;
  width: 100%;
  height: 200px;
}

.list-item:hover {
  transform: scale(1.02);
  background-color: antiquewhite;
}

.list-item-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-item-text {
  font-size: 18px;
}

.list-item-btn {
  padding: 8px 10px;
  border-radius: 10px;
  background-color: rgb(4, 21, 46);
  transition: all 0.8s;
  color: yellow;
  font-weight: bold;
  font-size: 14px;
}

.list-item-btn:hover {
  background-color: red;
  color: white;
}

/* Cta */
.cta {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: black;
}

.cta-container {
  position: relative;
  z-index: 2;
  max-width: 1100px;
  padding: 30px;
  text-align: center;
  animation: fadeIn 2s ease-in-out;
}

.cta-content {
  color: #fff;
}

.cta-title {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 20px;
  text-shadow: 2px 4px 12px rgba(0, 0, 0, 0.6);
  animation: slideInFromTop 1s ease;
}

.cta-subtitle {
  font-size: 1.25rem;
  margin-bottom: 30px;
  opacity: 0.95;
  animation: slideInFromBottom 1.3s ease;
}

.cta-btn {
  display: inline-block;
  padding: 14px 32px;
  font-size: 1.1rem;
  font-weight: 600;
  color: #fff;
  background: #ff7e5f;
  border-radius: 10px;
  text-decoration: none;
  box-shadow: 0 8px 20px rgba(255, 126, 95, 0.4);
  transition: all 0.3s ease;
}

.cta-btn:hover {
  background: #eb5e3d;
  transform: translateY(-4px);
  box-shadow: 0 12px 25px rgba(255, 126, 95, 0.6);
}
/*  Faq */
.faq-container{
  width: 100%;
  max-width: 1100px;
  padding: 20px 20px;
  margin: 0 auto;
  @import url(https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap);
  font-family: 'ZCOOL QingKe HuangYou', display;
  
}
.footer{
  background-color:rgb(37, 37, 37);
  padding-top: 10px;
  padding-bottom: 20px;
}
.footer-container{
  width: 100%;
  max-width: 1100px;
  padding: 20px 20px;
  margin: 0 auto;
  display: flex;
  align-items:center;
  justify-content: space-between;
  @import url(https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap);
  font-family: 'ZCOOL QingKe HuangYou', display;
  color: #ddd;
}
.footer-title{
  color: rgb(249, 238, 234);
  margin-bottom: 20px;
}
.footer-left-wrapper{
  width: 100%;
  max-width: 400px;
}
.Uzdigitel-text{
  font-size: 18px;
}
.UzDigital-span-text{
  font-family: cursive;
  letter-spacing: 2px;  
}
.footer-nav-bar{
 display: flex;
 align-items: center;
}
.footer-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  column-width: 100px;
  list-style: none;
}
.footer-list-item:not(:last-child){
  margin-bottom:5px;
}
.footer-list-item-link{
  text-decoration: none;
  color:white;
  transition: all 0.5s;
}
.footer-list-item-link:hover{
  text-decoration:underline rgb(60, 98, 168) 4px;
  color:blue;
}

.Footer-telegram-icon, .Footer-instagram, .footer-facebook{
  width: 32px;
  height:32px;
  border-radius: 50%;
}
.call{
  margin-bottom: 20px;
}
.Boglanish{
  color: #fff;
  text-decoration: none;
}
.social-icon:hover {
  transform: scale(1.05); /* Biroz kattalashtirish */
}
.social-icon:hover .outline {
  fill: #5ea2fc; /* Facebookning rasmiy ko'k rangi */
  filter: drop-shadow(12px 12px 22px rgb(84, 175, 244));
}
.social-icon:hover .inner-icon {
  fill: #ffffff; /* Oltin rang */
}
/* Faq */







/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-60px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(60px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes LogoImg {
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(360deg);
  }
}

/* Responsive Design */
@media (max-width: 768px) {
  .cta-title {
    font-size: 2rem;
  }

  .cta-subtitle {
    font-size: 1rem;
  }

  .cta-btn {
    font-size: 1rem;
    padding: 12px 24px;
  }
}




